<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=title%></title>
</head>
<body>
    <h1>okay</h1>
    <ul>
        <% for(i=0;i<books.length;i++){%>
        <li>
            <%= books[i]%>
        </li>
        <%}%>
    </ul>
    
</body>
</html>